@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
)
            </td>
            <td>
                @if (item.Role.Equals("Admins"))
                {
                    <a asp-action="AssignNormalUser" asp-route-id="@item.Id">Assign Normal User Role</a>
                }
                else if (item.Role.Equals("Users"))
                {
                    <a asp-action="AssignAdmin" asp-route-id="@item.Id">Assign Administrator Role</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
